advisor-email-assistant.v1.json
{
  "name": "advisor-email-assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": true,
          "labelIds": [
            "INBOX"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7a4e9a98-b434-41a9-8976-6461ed2658a6",
      "name": "New Email (Inbox)",
      "credentials": {
        "gmailOAuth2": {
          "id": "defo4ASTweJVhM70",
          "name": "Uni Account"
        }
      },
      "notes": "Pull new emails as they arrive."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c9bceda-e75c-4f70-8dc3-1a04cad9f933",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "7ab7a153-3ee6-4da4-95b8-773affc4f64b",
              "name": "from",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "020c727f-d355-4a74-85ac-702beccfbe18",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "76881c49-4108-46db-b353-7016ed08ad9a",
              "name": "snippet",
              "value": "={{$json.snippet || \"\"}}",
              "type": "string"
            },
            {
              "id": "d72b64bf-278d-4d7c-bfaa-9120f4528f4d",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "a0f1b28c-8942-40d5-a4b3-da2b35c358e9",
              "name": "gmailId",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "45003719-37ff-45e4-876e-5e900447caeb",
              "name": "epochMs",
              "value": "={{ +$json.internalDate || Date.now() }}",
              "type": "number"
            },
            {
              "id": "1ab4812c-d11d-4b45-93b8-a2df402aee44",
              "name": "receivedAt",
              "value": "={{ new Date((+$json.internalDate || Date.now())).toISOString() }}",
              "type": "string"
            },
            {
              "id": "0fb6e30a-5315-4243-a6aa-f16d61a8187c",
              "name": "dedupeKey",
              "value": "={{$json.threadId || $json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a9f89a9e-f164-4dc3-82ca-241ca18e086e",
      "name": "Normalize Email Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU",
          "mode": "list",
          "cachedResultName": "Uni Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inbox 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "4f212b15-89da-4621-aaea-08bc83b06388",
      "name": "Lookup: Existing dedupeKey",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eLYqfNJNiXdlBlwF",
          "name": "Main Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c384c660-651c-4047-b803-bb63a1c3f0ed",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "9e77bf91-ddc7-4a3c-bffd-1b62926355ff",
      "name": "Is Duplicate?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Inputs: subject, from, snippet\n// Output: priority (1-5), tags (array), reasons (array)\nconst subject = ($json.subject || \"\").toLowerCase();\nconst from = ($json.from || \"\").toLowerCase();\nconst snippet = ($json.snippet || \"\").toLowerCase();\n\nlet score = 1;\nconst tags = [];\nconst reasons = [];\n\nfunction bump(n, reason, tag) {\n  score = Math.min(5, Math.max(score, n));\n  if (reason) reasons.push(reason);\n  if (tag) tags.push(tag);\n}\n\n// Sender rank rules\nif (from.includes(\"rector\") || from.includes(\"dean\") || from.includes(\"project\") && from.includes(\"head\")) {\n  bump(5, \"High-rank sender\", \"leadership\");\n} else if (from.includes(\".edu.tr\") && (from.includes(\"staff\") || from.includes(\"faculty\"))) {\n  bump(4, \"Faculty/staff sender\", \"faculty\");\n} else if (from.includes(\"student\")) {\n  bump(2, \"Student sender\", \"student\");\n}\n\n// Keyword rules\nconst bumps = [\n  { kw: \"deadline\", s: 5, tag: \"deadline\" },\n  { kw: \"attendance\", s: 4, tag: \"attendance\" },\n  { kw: \"budget\", s: 4, tag: \"budget\" },\n  { kw: \"approval\", s: 4, tag: \"approval\" },\n  { kw: \"meeting\", s: 4, tag: \"meeting\" },\n  { kw: \"cancelled\", s: 3, tag: \"schedule\" },\n  { kw: \"urgent\", s: 5, tag: \"urgent\" },\n];\n\nfor (const r of bumps) {\n  if (subject.includes(r.kw) || snippet.includes(r.kw)) {\n    bump(r.s, `Keyword: ${r.kw}`, r.tag);\n  }\n}\n\n// Mass-mail heuristic\nif (from.includes(\"noreply\") || from.includes(\"no-reply\") || subject.includes(\"[bulk]\")) {\n  bump(1, \"Mass or noreply source\", \"bulk\");\n}\n\n// Collapse duplicates in tags/reasons\nconst uniq = a => [...new Set(a)];\nreturn [\n  {\n    ...$json,\n    priority: score,\n    tags: uniq(tags),\n    reasons: uniq(reasons)\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "e9793532-a79f-4f51-9b89-cf144a26237a",
      "name": "Priority Score v1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU",
          "mode": "list",
          "cachedResultName": "Uni Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inbox 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "receivedAt": "={{$json.receivedAt}}",
            "from": "={{$json.from}}",
            "subject": "={{$json.subject}}",
            "dedupeKey": "={{$json.dedupeKey}}",
            "gmailId": "={{$json.gmailId}}",
            "threadId": "={{$json.threadId}}",
            "reasons": "={{ Array.isArray($json.reasons) ? $json.reasons.join(\" | \") : \"\" }}",
            "tags": "={{ Array.isArray($json.tags) ? $json.tags.join(\",\") : \"\" }}",
            "priority": "={{$json.priority}}",
            "snippet": "={{$json.snippet}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "receivedAt",
              "displayName": "receivedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasons",
              "displayName": "reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmailId",
              "displayName": "gmailId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupeKey",
              "displayName": "dedupeKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        96
      ],
      "id": "e0c15c9d-e7cc-48c9-b776-9cb0881da34e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eLYqfNJNiXdlBlwF",
          "name": "Main Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Email (Inbox)": {
      "main": [
        [
          {
            "node": "Normalize Email Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email Fields": {
      "main": [
        [
          {
            "node": "Lookup: Existing dedupeKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup: Existing dedupeKey": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [],
        [
          {
            "node": "Priority Score v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Score v1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31f3bce9-2d5e-4686-a0cb-ef05156a90d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c8d0d4640139c59e2bc183c0a14df0fbc0573cb91e494f5db8144fe78fe28ca"
  },
  "id": "DKu7PDZQB4PJeh3A",
  "tags": []
}