daily-digest.v1.json
{
  "name": "Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "30b432fb-6a6c-4105-b329-b2a60642cc8b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU",
          "mode": "list",
          "cachedResultName": "Uni Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inbox 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "ac906123-2c76-454e-b03b-4d9b9aabca02",
      "name": "Read Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eLYqfNJNiXdlBlwF",
          "name": "Main Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = Date.now();\nconst cutoff = now - 24 * 60 * 60 * 1000; // 24 hours ago\n\n// Only include rows whose receivedAt is within the last 24h\nconst rows = items\n  .map(i => i.json)\n  .filter(r => {\n    const date = new Date(r.receivedAt || 0).getTime();\n    return !isNaN(date) && date >= cutoff;\n  });\n\nconst total = rows.length;\nconst high = rows.filter(r => Number(r.priority) >= 4).length;\nconst pending = rows.filter(r => r.subTag === 'Action Required').length;\nconst categories = [...new Set(rows.map(r => r.category))].join(', ');\n\n// Add readable date for logging\nconst today = new Date().toLocaleDateString('en-US', { \n  year: 'numeric', month: 'short', day: 'numeric' \n});\n\nreturn [{\n  json: { total, high, pending, categories, date: today }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "519a728f-db69-43fb-aa8a-9a8995017822",
      "name": "Aggregate Statistics"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU",
          "mode": "list",
          "cachedResultName": "Uni Inbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1692019988,
          "mode": "list",
          "cachedResultName": "Daily Digest Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VZnptcvGVhGEow_Gx38yB2Wq8UzY2Hnj8RxzerJvBHU/edit#gid=1692019988"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total emails": "={{ $('Aggregate Statistics').item.json.total }}",
            "Categories today": "={{ $('Aggregate Statistics').item.json.categories }}",
            "Pending (Action Required)": "={{ $('Aggregate Statistics').item.json.pending }}",
            "High priority": "={{ $('Aggregate Statistics').item.json.high }}",
            "Date": "={{ $('Aggregate Statistics').item.json.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total emails",
              "displayName": "Total emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "High priority",
              "displayName": "High priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pending (Action Required)",
              "displayName": "Pending (Action Required)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categories today",
              "displayName": "Categories today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "d5763ffd-5cc7-4af3-86ee-e02af547491e",
      "name": "Daily Digest Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eLYqfNJNiXdlBlwF",
          "name": "Main Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=74166550",
        "text": "=🌅 *Daily Email Digest*\nDate: {{ $json.date }}\nTotal emails: {{$json.total}}\nHigh priority: {{$json.high}}\nPending (Action Required): {{$json.pending}}\nCategories today: {{$json.categories}}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "c5738df6-0c14-4fc8-96ca-e68d19030dda",
      "name": "Daily Digest Message",
      "webhookId": "dd3ece16-e08b-44b6-98f0-7d997873d55d",
      "credentials": {
        "telegramApi": {
          "id": "PEoTj5wxpFTeQVpI",
          "name": "Ticket Intake"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Rows": {
      "main": [
        [
          {
            "node": "Aggregate Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Statistics": {
      "main": [
        [
          {
            "node": "Daily Digest Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Digest Message": {
      "main": [
        [
          {
            "node": "Daily Digest Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0782f50a-6cc8-42e9-a20e-27b2871d87cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c8d0d4640139c59e2bc183c0a14df0fbc0573cb91e494f5db8144fe78fe28ca"
  },
  "id": "cpAJEmup2Ogwj5fi",
  "tags": []
}